body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
  }

  .flex{
      display: flex;
      justify-content: flex-start;
  }
  .row{
      flex-direction: row;
      align-items: center;
  }
  .col{
      flex-direction: column;
      align-items: flex-start;
  }

  h4{
      margin: 0px 8px;
  }

  .instructions{
      position: absolute;
      top:24px;
      left:36px;
  }

  .video{
      position: relative;
  }

  #videoContainer{
      position: relative;
      width: 560px;
      height: 420px;
      margin-top: 20px;
      border: 2px solid black;
      border-radius: 16px;
  }

  canvas, #video {
    position: absolute;
    bottom:0;
    left:0;
    border-radius: 14px;
  }

  .data{
      margin-left: 80px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  #note{
      font-size: 64px;
      border-bottom: 4px solid black;
      margin-bottom: 16px;
  }
  .keys{
      display: flex;
      flex-direction: row;
      /* border-bottom: 2px solid black; */
  }

  .key{
      width: 70px;
      height:70px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: column;
      margin-right: 10px;
      margin-top: 30px;
      margin-bottom: 30px;
  }

  .key:last-of-type{
      margin-right: 0;
  }

  .keyTop{
      background-color:black;
    width:70px;
    height:15px;
    border-radius: 4px;
  }
  .keyBottom{
    background-color:black;
      width: 10px;
      height: 60px;
      border-radius: 0px 0px 2px 2px;
  }

  .key.down .keyBottom{
    height: 10px;
  }

  .button{
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 12px 18px;
      font-weight: 700;
      background-color: #111;
      border: 2px solid #111;
      color:white;
      outline:none;
      border-radius: 4px;
      text-decoration: none;
  }
  .button:focus {outline:0;}
  .button:hover{
      cursor: pointer;
      background-color: white;
      color:#111;
  }

  #slider{
      position: absolute;
      bottom: 0;
      right: -36px;
      display: flex;
      align-items: flex-end;
      height:416px;
      width:10px;
      border-radius: 10px;
      border: 2px solid black;
      margin-left: 50px;
      overflow: hidden;
  }

  #sliderInside{
      background-color: black;
      width: 100%;
      height: 10px;
  }

  /* Toggles */

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: green;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .toggle:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .toggle {
    background-color: red;
  }
  
  input:focus + .toggle {
    box-shadow: 0 0 1px red;
  }
  
  input:checked + .toggle:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded toggles */
  .toggle.round {
    border-radius: 34px;
  }
  
  .toggle.round:before {
    border-radius: 50%;
  }